/* <div id="message"></div>
<input type="text" id="userName">
<div id="profile"></div>
<div id="repo"></div> */

.profilepic{
    width: 35vh;
    height: 35vh;
}
h1{
    text-align: center;
    padding: 4vh;
}
h4{
    text-align: center;
    margin:4vh;
}
.header{
    background-color: rgb(231, 231, 231);
}
.input1{
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}
#userName{
    padding: 1.2vh;
    border-radius: 5px;
    border: 1px solid black;
    width: 80vh;
}
#profile{
    padding: 2vh;
    width: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);    display: flex;
    flex-direction: row;
}
#repo{
    padding: 2vh;
    width: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);    display: flex;
    flex-direction: row;
}
.two{
    display: flex;
    flex-direction: column;
    padding: 2vh;
}
.allrepo{
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);    padding: 2vh;
    margin-top:1vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 80vh;
}
